### PROBLEM STATEENT

The project unerstands how the student perfomace(test score) is affected by other variables such as Gender, ethincity,parental level of education Lunch and test prepration course

In [ ]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_csv('stud.csv')

In [3]:
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [5]:
df.shape

(1000, 8)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race_ethnicity               1000 non-null   object
 2   parental_level_of_education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test_preparation_course      1000 non-null   object
 5   math_score                   1000 non-null   int64
 6   reading_score                1000 non-null   int64
 7   writing_score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

### Dataset information

- gender : sex of students  -> (Male/female)
- race/ethnicity : ethnicity of students -> (Group A, B,C, D,E)
- parental level of education : parents' final education ->(bachelor's degree,some college,master's degree,associate's degree,high school)
- lunch : having lunch before test (standard or free/reduced) 
- test preparation course : complete or not complete before test
- math score
- reading score
- writing score

###  Data Checks to perform

- Check Missing values
- Check Duplicates
- Check data type
- Check the number of unique values of each column
- Check statistics of data set
- Check various categories present in the different categorical column

### Check Missing values

In [9]:
df.isna().sum()

gender                         0
race_ethnicity                 0
parental_level_of_education    0
lunch                          0
test_preparation_course        0
math_score                     0
reading_score                  0
writing_score                  0
dtype: int64

### Check Duplicates

In [12]:
'''
if there are any duplicates present in the dataset we can
df.drop_duplicates(inplace=True)
df.drop_duplicates(subset=['email'], inplace=True)


'''

print(df.duplicated().sum())

0

### Checking the number of unique values of each column

In [18]:
df.nunique()

gender                          2
race_ethnicity                  5
parental_level_of_education     6
lunch                           2
test_preparation_course         2
math_score                     81
reading_score                  72
writing_score                  77
dtype: int64

###  Check statistics of data set

In [20]:
df.describe()

       math_score  reading_score  writing_score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [21]:
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [31]:
print(f"cateogries in gender : {df['race_ethnicity'].unique()}")
print(f"cateogries in race_ethnicity : {df['race_ethnicity'].unique()}")
print(f"cateogries in parental_level_of_education : {df['parental_level_of_education'].unique()}")
print(f"cateogries in lunch : {df['lunch'].unique()}")
print(f"cateogries in test_preparation_course : {df['test_preparation_course'].unique()}")
'''
print(f"cateogries in math_score	 : {df['math_score'].unique()}")
print(f"cateogries in reading_score	 : {df['reading_score'].unique()}")
print(f"cateogries in writing_score	 : {df['writing_score'].unique()}")
'''

cateogries in gender : ['group B' 'group C' 'group A' 'group D' 'group E']
cateogries in race_ethnicity : ['group B' 'group C' 'group A' 'group D' 'group E']
cateogries in parental_level_of_education : ["bachelor's degree" 'some college' "master's degree" "associate's degree"
 'high school' 'some high school']
cateogries in lunch : ['standard' 'free/reduced']
cateogries in test_preparation_course : ['none' 'completed']

'\nprint(f"cateogries in math_score\t : {df[\'math_score\'].unique()}")\nprint(f"cateogries in reading_score\t : {df[\'reading_score\'].unique()}")\nprint(f"cateogries in writing_score\t : {df[\'writing_score\'].unique()}")\n'

In [48]:
col=df.columns
print(list(col))
df['gender'].dtype

['gender', 'race_ethnicity', 'parental_level_of_education', 'lunch', 'test_preparation_course', 'math_score', 'reading_score', 'writing_score']

dtype('O')

In [47]:
numerical_features=0
numerical_features_name=[]

categorial_features=0
categorial_features_name=[]
col=list(df.columns)

for columns in col :
    if df[columns].dtype == 'o':
        numerical_features+=1
        numerical_features_name.append('columns')
    else:
        categorial_features+=1
        categorial_features_name.append('columns')

print(numerical_features)

0